[submodule "fabric-samples"]
	path = fabric-samples
	url = git@github.com:SeungjinPark2/fabric-samples.git
[submodule "interface"]
	path = interface
	url = git@github.com:SeungjinPark2/interface.git
[submodule "server"]
	path = server
	url = git@github.com:SeungjinPark2/server.git
